{{#extend "css"}}
  <link href="css/about.css" rel="stylesheet">
{{/extend}}

<div lang="it">
  <p><strong>YourExpo2015</strong> è realizzato dal Politecnico di Milano come primo passo di una collaborazione con Expo per costruire applicazioni sociali.</p>
  <p>La sperimentazione fa uso di <a href="http://crowdsearcher.search-computing.org/" target="_blank" title="CrowdSearcher">CrowdSearcher</a>, un sistema realizzato dal gruppo dei prof. Marco Brambilla e Stefano Ceri, documentato da numerose pubblicazioni ed oggetto di un brevetto USA.</p>
  <p>Il progetto Crowdesarcher è finanziato da <a href="http://erc.europa.eu/" target="_blank" title="ERC">ERC</a> e da <a href="http://www.eitictlabs.eu/" target="_blank">EIT ICT LABS</a>.</p>
</div>

<div lang="en">
  <p><strong>YourExpo2015</strong> has been developed by Politecnico di Milano as a first step towards a broader collaboration between Politecnico and Expo aimed at  developing social networking applications.</p>
  <p>This implementation is based on <a href="http://crowdsearcher.search-computing.org/" target="_blank" title="CrowdSearcher">CrowdSearcher</a>, a software platform developed within the research group led by Marco Brambilla and Stefano Ceri. CrowdSearcher is documented by several research papers and by a US patent.</p>
  <p>The project is funded by <a href="http://erc.europa.eu/" target="_blank" title="ERC">ERC</a> and <a href="http://www.eitictlabs.eu/" target="_blank">EIT ICT LABS</a>.</p>
</div>

<div class="team">
  <div class="person">
    <img class="image" src="img/team/ceri.jpg" alt="Stefano Ceri">
    <div class="name">Stefano Ceri</div>
    <div class="title">Full Professor @ Politecnico di Milano</div>
  </div>

  <div class="person">
    <img class="image" src="img/team/brambilla.png" alt="Marco Brambilla">
    <div class="name">Marco Brambilla</div>
    <div class="title">Assistant Professor @ Politecnico di Milano.</div>
  </div>

  <div class="person">
    <img class="image" src="img/team/mauri.jpg" alt="Andrea Mauri">
    <div class="name">Andrea Mauri</div>
    <div class="title">PhD student</div>
  </div>

  <div class="person">
    <img class="image" src="img/team/leonardi.jpg" alt="Chiara Leonardi">
    <div class="name">Chiara Leonardi</div>
    <div class="title">Service Designer</div>
  </div>

  <div class="person">
    <img class="image" src="img/team/volonterio.jpg" alt="Riccardo Volonterio">
    <div class="name">Riccardo Volonterio</div>
    <div class="title">Engineer</div>
  </div>

</div>