{{#extend "css"}}
  <link href="css/come.css" rel="stylesheet">
{{/extend}}



{{!-- English --}}
<div lang="en">
  <p class="lead"><strong>YourExpo2015</strong> is the Instagram challenge launched by Expo on life, food and its perception. Be ready to be challenged every week by two new topics or dimensions about food.</p>

  <p class="lead">You can partecipate every week by posting your photos about one of the two topics of the week and tag it with the hashtag of the week.</p>

  <p class="lead">Share on Instagram your interpretation of the topic, share and promote your picture, and get voted. The most popular photos will be added to the official gallery and will be promoted using the official EXPO social accounts on Instagram, Pinterest, Twitter, Facebook and Google+.</p>

  <p class="lead">Get some suggestions <a href="{{tag}}/gioca" title="Play">here</a> on the topic of the week.</p>
</div>




{{!-- Italian --}}
<div lang="it">
  <p class="lead">Partecipare alla sfida <strong>YourExpo2015</strong> è semplice!</p>

  <p class="lead">Basta mandare una o più foto, scattate da te, relative ad <strong>uno dei due temi della settimana</strong>.</p>

  <p class="lead">Le foto devono essere pubblicate usando il tuo account <strong>Instagram</strong>, con il tag della settimana.</p>

  <p class="lead">Le più votate ed inconsuete saranno inserite nella gallery di <strong>YourExpo2015</strong> e promosse sui canali social ufficiali di Expo!</p>

  <p class="lead">Se vuoi, puoi fare login sul sito con il tuo account Instagram e vedere il tuo <a href="{{tag}}/profile" title="Profilo">profilo</a>, con i voti ed i trend per le tue foto.</p>

  <p class="lead">Puoi anche visitare la <a href="{{tag}}/gallery" title="Galleria">gallery</a> e votare le foto che preferisci, oppure fare like delle foto direttamente su Instagram.</p>
</div>







{{> buttons }}


<div class="rules">
  {{> rules }}
</div>

{{!-- <div class="ratio-box ratio-iframe fix-max-size">
  <div class="ratio-content">
    <iframe class="example" src="http://instagram.com/p/{{tagObject.sampleId}}/embed" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
  </div>
</div> --}}