{{#extend "css"}}
  <link href="css/details.css" rel="stylesheet">
{{/extend}}

{{#extend "js"}}
  <script src="lib/highcharts/highcharts.js"></script>
  <script src="lib/moment/moment.js"></script>
  {{!-- <script src="lib/highcharts/themes/dark-unica.js"></script> --}}
  <script>
    var photo = {{{ json photo }}};
    // var posts = {{{ json posts }}};
  </script>
  <script src="js/details.js"></script>
{{/extend}}


<div class="ratio-box ratio-instagram">
  <div class="ratio-content">
    <iframe class="image" src="http://instagr.am/p/{{photo.shortLink}}/embed/captioned/?v=4" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
  </div>
</div>

<div class="ratio-box ratio-graph">
  <div class="ratio-content">
    <div id="graph"></div>
  </div>
</div>