{{#extend "css"}}
  <link href="css/gallery.css" rel="stylesheet">
{{/extend}}

{{#extend "js"}}
  <script src="js/gallery.js"></script>
{{/extend}}


{{> tag }}


{{#if active}}
  {{#if highlighted.length}}
    <h2 lang="it">Foto in evidenza:</h2>
    <h2 lang="en">Highlighted:</h2>

    {{> gallery highlighted }}
  {{/if}}


  {{#if trending.length }}
    <h2>Trending now:</h2>
    {{> gallery trending }}
  {{/if}}


  {{#if top.length}}
    <h2>Top voted:</h2>
    {{> gallery top }}
  {{/if}}


  {{#if recent.length}}
    <h2>Recently posted:</h2>
    {{> gallery recent }}
  {{/if}}

{{else}}

  {{#if images.length}}
    <h2 lang="en">All images:</h2>
    <h2 lang="it">Guarda le immagini:</h2>
    {{> gallery images }}
  {{/if}}

{{/if}}