### Node
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz


# Do not sync dependencies
node_modules
lib

# Do not sync landing page
public/**/*

# Do not sync database
database

# Do not sync configuration files
config/*.json
config/override.js

### SublimeText project files
*.sublime-workspace