article > section {
  text-align: center;
}


.images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.images > .image {
  flex: 0 0 auto;
  width: 300px;
  height: 300px;

  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 300px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  border-radius: 10px;
}
.images > .image:first-child {
  margin-right: 10px;
}
.images > .image:last-child {
  margin-left: 10px;
}

.image > .term {
  display: block;
  width: 100%;
  height: 100%;
}
