<section class="partners">
  <h2 lang="it"> In collaborazione con </h2>
  <h2 lang="en"> In collaboration with </h2>
  <section class="partners-container">
    <ul class="partners-list">
      <li><a title="Politecnico di Milano" target="_blank" href="http://www.polimi.it/"><img class="" src="img/logo-polimi.png" alt="Politecnico di Milano"></a></li>
      <li><a title="CrowdSearcher" target="_blank" href="http://crowdsearcher.search-computing.org/"><img class="" style="height: 30px;" src="img/logo-crowdsearcher.png" alt="CrowdSearcher"></a></li>
      <li><a title="EIT" target="_blank" href="http://www.eitictlabs.eu/"><img class="" src="img/logo-eit.jpg" alt="EIT"></a></li>
    </ul>
  </section>
  <h2 lang="it"> I nostri soci </h2>
  <h2 lang="en"> Our partners </h2>
  <section class="partners-container">
    <ul class="partners-list">
      <li><a title="Ministero dell'Economia e delle finanze" target="_blank" href="http://www.mef.gov.it/"><img class="" src="http://www.expo2015.org/cs/Expo/1393254224803/mef.png" alt="Ministero dell' Economia e delle Finanze"></a></li>
      <li><a title="Regione Lombardia" target="_blank" href="http://www.regione.lombardia.it/"><img class="" src="http://www.expo2015.org/cs/Expo/1393254229719/regione.png" alt="Regione Lombardia"></a></li>
      <li><a title="Comune di Milano" target="_blank" href="http://www.comune.milano.it/"><img class="" src="http://www.expo2015.org/cs/Expo/1393254230497/comune.png" alt="Comune di Milano"></a></li>
      <li><a title="Provincia di Milano" target="_blank" href="http://www.provincia.milano.it/"><img class="" src="http://www.expo2015.org/cs/Expo/1393254227283/provincia.png" alt="Provincia di Milano"></a></li>
      <li><a title="Camera di commercio Milano" target="_blank" href="http://www.mi.camcom.it/"><img class="" src="http://www.expo2015.org/cs/Expo/1393254227376/camera.png" alt="Camera di Commercio Milano"></a></li>
    </ul>
  </section>
  <h2 lang="it"> Soci globali ufficiali </h2>
  <h2 lang="en"> Official Global Partners </h2>
  <section class="partners-container">
    <ul class="partners-list">
      <li><a title="Accenture" target="_blank" href="http://www.accenture.com/it-it/pages/index.aspx?c=it_milexpo2015_10000001&amp;n=spc_0913"><img class="" src="http://www.expo2015.org/cs/Expo/1393254232492/accenture.png" alt="Accenture"></a></li>
      <li><a title="Enel" target="_blank" href="http://www.enel.it/"><img class="" src="http://www.expo2015.org/cs/Expo/1393254226629/enel.png" alt="Enel"></a></li>
      <li><a title="FIAT" target="_blank" href="http://www.fiatcnhindustrialexpo2015.com/"><img class="" src="http://www.expo2015.org/cs/Expo/1393254231036/FCA_CNH+footer.png" alt="FIAT"></a></li>
      <li><a title="Intesa SanPaolo" target="_blank" href="http://www.intesasanpaolo.com/"><img class="" src="http://www.expo2015.org/cs/Expo/1393254224558/intesa.png" alt="Intesa SanPaolo"></a></li>
      <li><a title="Samsung" target="_blank" href="http://www.samsung.com"><img class="" src="http://www.expo2015.org/cs/Expo/1393254225325/samsung.png" alt="Samsung"></a></li>
      <li><a title="Selex" target="_blank" href="http://selex-es.com/"><img class="" src="http://www.expo2015.org/cs/Expo/1393254231740/selex.png" alt="Selex ES"></a></li>
      <li><a title="Telecom" target="_blank" href="http://www.telecomitalia.com"><img class="" src="http://www.expo2015.org/cs/Expo/1393254233055/logo-tim-footer.png" alt="Telecom"></a></li>
    </ul>
  </section>
  <h2 lang="it"> Le iniziative a supporto di Expo Milano 2015 </h2>
  <h2 lang="en"> Initiatives supporting Expo Milano 2015 </h2>
  <section class="partners-container">
    <ul class="partners-list">
      <li><a title="Tavoli Tematici" target="_blank" href="http://www.tavoliexpo.it/"><img class="" src="http://www.expo2015.org/cs/Expo/1393254225536/tavoli.png" alt="Tavoli Tematici"></a></li>
    </ul>
  </section>
</section>