<div class="button-container">

  <a class="button instagram" data-ios="instagram://camera?caption=%23{{tag}}" href="http://instagram.com/p/{{tagObject.sampleId}}">
    <i class="fa fa-instagram icon"></i>
    <span lang="en">Play with <strong>Instagram</strong></span>
    <span lang="it">Gioca con <strong>Instagram</strong></span>
  </a>

</div>