<div class="link-container">
  <a class="btn btn-link" target="_blank" href="https://www.facebook.com/Expo2015Milano.it"><div class="link"><i class="fa fa-facebook"></i></div></a>
  <a class="btn btn-link" target="_blank" href="https://twitter.com/Expo2015Milano"><div class="link"><i class="fa fa-twitter"></i></div></a>
  <a class="btn btn-link" target="_blank" href="http://www.youtube.com/user/expomilanotv"><div class="link"><i class="fa fa-youtube"></i></div></a>
  <a class="btn btn-link" target="_blank" href="https://www.linkedin.com/company/expo-2015-s.p.a."><div class="link"><i class="fa fa-linkedin"></i></div></a>
  <a class="btn btn-link" target="_blank" href="https://www.pinterest.com/Expo2015Milano/"><div class="link"><i class="fa fa-pinterest"></i></div></a>
  <a class="btn btn-link" target="_blank" href="http://expo2015book.tumblr.com/"><div class="link"><i class="fa fa-tumblr"></i></div></a>
  <a class="btn btn-link" target="_blank" href="http://instagram.com/expo2015milano"><div class="link"><i class="fa fa-instagram"></i></div></a>
</div>

<h3 lang="en">Follow us</h3>
<h3 lang="it">Seguici</h3>