{{!-- Italian --}}
<div lang="it">
  {{!-- <h3>Regole:</h3> --}}
  <p><strong>YourExpo2015</strong> si svolgerà per 12 settimane, in parallelo alla campagna <a href="http://www.expo2015.org/it/cos-e/il-tema" target="_blank" title="Cibo è Vita">"Cibo è Vita"</a> di Expo.</p>
  <p>Ogni settimana, vi verrà data la possibilità di partecipare ispirandosi ai temi proposti dalla campagna, inizialmente tramite foto sottomesse sulla rete sociale Instagram.</p>
  <p>Ogni settimana verrà pubblicata una classifica di merito, e sarà possibile accumulare i punteggi acquisiti settimana dopo settimana.</p>
  <p>I migliori prodotti, selezionati in base ai "like" ed i "trend" espressi socialmente, verranno evidenziati e promossi da Expo attraverso i suoi canali social ufficiali.</p>
</div>

{{!-- English --}}
<div lang="en">
  {{!-- <h3>Rules:</h3> --}}
  <p>The <strong>YourExpo2015</strong> challenge will run for 12 weeks. Every week you will be engaged in a new challenge, based on two topics related to Expo 2015.</p>
  <p>Different weeks may suggest new ways to get involved and be visible. Stay tuned for the new topics, published every Saturday night.</p>
  <p>Users will receive points based on the popularity and appreciation of their photos. Points will contribute to ranking users week by week.</p>
  <p>Furthermore, points can be collected across weeks and contribute to a final ranking of the whole challenge.</p>
  <p>The best contributions will be highlighted on the challenge gallery and will be promoted through the official social media of Expo 2015.</p>
</div>